<!DOCTYPE html>
<html>
    <head>
		<!-- javascript -->
        <script src="js/upload.js"></script>
		<!-- <script src="js/Clarifai_part.js"></script>-->        
        <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
		<!-- css -->
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"> <!-- pureform -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<title>Themed Beats</title>
		<script src="js/spotify_echonest_main.js"></script>
		<script type='text/javascript'>
			var unparsedTags = "<%= tags %>";
			clarifaiTagsArray = unparsedTags.split(",");
			console.log(clarifaiTagsArray);
			buildClarifaiArray(clarifaiTagsArray);
		</script>
	</head>
	<body>
		<a id="clarifai" href="/getTag">Test Clarifai</a>
        <br>
        <br>
		<button class="btn-default" id='get_song' onclick='createAlgorithm()'>
			This Creates Playlist
		</button>
        <br>
        <button class="btn-default" id='get_echo' onclick='getEchonestTags()'>
			Generate Echonest
		</button>
        <br>
		<form method="post" enctype="multipart/form-data" action="/">
			 <p><input type="text" name="title" placeholder="title"/></p>
			 <p><input type="file" name="upl"/></p>
	     	 <p><input type="submit"/></p>
		 </form>
        <!-- old code -->
        <!-- <input type='file' onchange="readURL(this);" />
        <img id="blah" src="#" alt="your image" /> -->
        <!-- /old code -->
        <input type="file" onchange="previewFile()"><br>
        <img id="blah" src="" height="300" alt="Image preview...">
        <br>
        <br>
        <div id="embeddedPlaylist">
            <label id="playSongs"></label>
        </div>

    </body>
</html>
